[Unit]
Description=Ethereum Stratum Proxy
After=network.target

[Service]
ExecStart=/bin/bash -c "cd /opt/eth-proxy && /usr/bin/python -u eth-proxy.py"
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

